
:root{
  --get-color:#ff9f1a;
  --post-color: #9b59b6;
  --put-color: #27ae60;
  --delete-color: #e74c3c;

  --dark-get-color: #6A50A7;
  --charcoal: #323133;

}

body {
  font-family: "Century Gothic";
  background-color: #333;
  color: #fff;
}

.my-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  max-width: 1000px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax( 150px, 2fr));
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var( --dark-get-color);
}

.input-box input {
  background-color: #444;
  border-color: #555;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;  
}


.my-console{
    width: 80%;
    padding: 10px;
}

.my-console textarea {
  background-color: black;
  color: antiquewhite;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.btn {
  font-size: 16px;
  font-family: Century Gothic;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 0px 10px 10px;
  width: 100px;
}

.btn-get {
  background-color: var(--dark-get-color);
  border-color: var(--dark-get-color);
  color: #ffffff;
}

.btn-post {
  background-color: var(--dark-get-color);
  border-color: var(--dark-get-color);
  color: #ffffff;
}

.btn-put {
  background-color: var(--dark-get-color);
  border-color: var(--dark-get-color);
  color: #ffffff;
}

.btn-delete {
  background-color: var(--dark-get-color);
  border-color: var(--dark-get-color);
  color: #ffffff;
}

.btn:hover {
  background-color: #efefef;
  border-color: #efefef;
  color: #333333;
}

.btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #dddddd;
  border-color: #dddddd;
}


/* CSS para el modal */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#modal-header {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 10px;
}

#modal-header h2 {
  margin: 0;
  display: inline-block;
}

#btn-close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#btn-close:hover,
#btn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-body {
  padding: 20px;
}

#modal-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}
/* - - - - - - - - - -- */
table {
  border-collapse: collapse; 
  width: 100%;
  margin: 0 auto;
}


th {
  font-weight: bold; 
  padding: 8px; 
  text-align: center; 
}

td {
  padding: 8px; 
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  /*background-color: #f2f2f2; /* color de fondo para filas pares */
}