
:root{
  --get-color:#ff9f1a;
  --post-color: #9b59b6;
  --put-color: #27ae60;
  --delete-color: #e74c3c;

  --dark-get-color: #6A50A7;
  --charcoal: #323133;

  /* CRUD COLOR */
  --add-color: #27ae60;
  --edit-color: #ffc107;
  --delete-color:#e74c3c;
}

body {
  font-family: "Century Gothic";
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 0px 10px 10px;
  width: 50px;
}

.btn-edit, .btn-delete {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
  border-radius: 4px;
  width: 30px;
}


 /* CRUD COLOR */

.btn-add {
  background-color: var(--add-color);
  border-color: var(--add-color);
  color: #ffffff;
}

.btn-edit {
  background-color: var(--edit-color);
  border-color: var(--edit-color);
  color: #ffffff;
}

.btn-delete {
  background-color: var(--delete-color);
  border-color: var(--delete-color);
  color: #ffffff;
}




/* - - - - - N A V B A R - - - - - - - - - - - - - - - - - - -  */ 

nav {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}


/* - - C O U N T I E S   T A B L E - - - - - - - - - - - - - - - - */

.actionsTable{ 
  display: flex;
  align-items: center;
  height: 35px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  
}

#add-button {
  float: right;
  width: 15%;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin: 0 0 0 20px;
}





/* - - C O U N T I E S   T A B L E - - - - - - - - - - - - - - - - */


#tableContainer{
  width: 80%;
  max-width: 800px;
  /* overflow-y: scroll; **/
  margin: 0 auto;
}


table {
  border-collapse: collapse; 
  width: 100%;
  margin: 0 auto;
}
 
th {
  font-weight: bold; 
  padding: 8px; 
  text-align: center; 
}

td {
  padding: 8px; 
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgb(65, 65, 65);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
