
:root{
  --get-color:#ff9f1a;
  --post-color: #9b59b6;
  --put-color: #27ae60;
  --delete-color: #e74c3c;

  --dark-get-color: #6A50A7;
  --charcoal: #323133;

  /* CRUD COLOR */
  --add-color: #27ae60;
  --edit-color: #ffc107;
  --delete-color:#e74c3c;
}

body {
  font-family: "Century Gothic";
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 0px 10px 10px;
  width: 50px;
}

.btn-edit, .btn-delete {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
  border-radius: 4px;
  width: 50px;
  height: 25px;
}

 /* CRUD COLOR */

.btn-add {
  background-color: var(--add-color);
  border-color: var(--add-color);
  color: #ffffff;
}

.btn-edit {
  background-color: var(--edit-color);
  border-color: var(--edit-color);
  color: #ffffff;
}

.btn-delete {
  background-color: var(--delete-color);
  border-color: var(--delete-color);
  color: #ffffff;
}


/* - - - - - N A V B A R - - - - - - - - - - - - - - - - - - -  */ 

nav {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}


/* - - C O U N T I E S   T A B L E   A C T I O N S - - - - - - - - - - - - - - - - */

.actions-table{ 
  display: flex;
  align-items: center;
  height: 35px;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px; 
}

.action-item {
  width: 15%;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 0 0 0 20px;
}

.actions-table > :first-child {
  font-size: 23px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin: 0 0 0 20px;
}

.search-container input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 4px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
}

.search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-search {
  font-size: 16px;
  color: gray;
}

/* - - C O U N T I E S   T A B L E - - - - - - - - - - - - - - - - */
.container-table{
  width: 100%;
  max-width: 900px;
  /* overflow-y: scroll; **/
  margin: 0 auto;
}

table {
  border-collapse: collapse; 
  width: 100%;
  margin: 0 auto;
}

td {
  padding: 8px; 
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgb(65, 65, 65);
}

.td-actiontd-action{
  width: 100px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
